<!--copyright @ Eko India Financial Service Pvt. Ltd.-->
{% extends "base_agent.html" %}
{% load humanize %}
{% load staticfiles %}

{% block heading %}
	{{ user.first_name|default:user.username | title }} {{ user.last_name|title }}
{% endblock %}

{% block my_content %}
    
    
    <div class="row">
	<div class="twelve columns">
		<div>
			<div class="default alert pull_left"><span style="color:#2980b9;"> User Name </span> : {{user.username}}</div>
			<span class="pull_right"> 
				<div class="medium secondary metro rounded btn">
					<a href="{% url 'user:password_change'%}">Change Password</a>
				</div>
			</span>
		</div>
		
    </div>
    </div>
{% endblock my_content %}

{% block my_script %}
<script>
window.onload=function(){
	$('#accountusermenu').addClass('active');
};
</script>
{% endblock my_script %}
