<!--copyright @ Eko India Financial Service Pvt. Ltd.-->
{% extends "base_agent.html" %}

{% block content %}
    {% if form.errors %}
        <p>{{form.errors}}</p>
    {% endif %}
	
	<div class="twelve columns centered ">
	{% if messages %}
	<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} alert"{% endif %} style="text-align:center">{{ message }}</li>
    {% endfor %}
	</ul>
	{% endif %}

    <form action="{% url 'user:user-change-password' %}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
	{{ form.as_ul }}
	<input type="submit" value="Submit" />
	</form>
	</div>
{% endblock %}

{% block my_script %}
<script>
window.onload=function(){
	$('#accountusermenu').addClass('active');
	$('#tracklomenu').hide();
	$('#networkmenu').hide();
};
</script>
{% endblock my_script %}