<!--copyright @ Eko India Financial Service Pvt. Ltd.-->
{% extends "base_agent.html" %}
{% load i18n %}

{% block my_content %}
<div class="row">
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="textcenter">
<h4>{% trans 'Password change successful' %}</h4>

<p>{% trans 'Your new password has been saved.' %}</p>
<div class="medium metro rounded btn secondary"> 
<a href="{% url 'user:login_success_page' %}"> Continue </a>
</div>
</div>

</div>
{% endblock my_content %}

{% block my_script %}
<script>
window.onload=function(){
	$('#accountusermenu').addClass('active');
};
</script>
{% endblock my_script %}
