<!--copyright @ Eko India Financial Service Pvt. Ltd.-->
{% extends "base_agent.html" %}
{% load i18n %}

{% block heading %}
	Password Change
{% endblock heading %}

{% block my_content %}
<div id="content-main">
<br/>
<br/>
<div class="row">
<div class="textcenter">
<!--h3 class="textcenter">Password Change</h3-->
{% if form.errors %}
    <div class="warning alert textcenter">
    Please correct the error{{form.errors.items|length|pluralize}} below.
   </div>
   <br>
{% endif %}

<form action="" method="post">
<!-- div class="four columns centered textcenter" -->

<!-- <p class="small">Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
-->

<div class="row">
	<div class="prepend field push_four four columns">
		<!--label for="id_old_password" class="required" style="margin-bottom:0px;">Old Password</label-->
			<span class="adjoined"><i class="icon-key"></i></span>
			<input class="xwide text input" type="password" placeholder="Old Password" id="old_password" name="old_password" tabindex="1" autocomplete="off" autofocus />
	</div>
	<div class="four columns">
			{% if form.old_password.errors %}
				<span class="error2 small" style="line-height:110%;white-space: normal;">{{ form.old_password.errors }}</span>
			{% endif %}
	</div>
</div>
<div class="row">
	<div class="prepend field push_four four columns">
		<!--label for="id_new_password1" class="required" style="margin-bottom:0px;">New Password</label-->
			<span class="adjoined"><i class="icon-key"></i></span>
			<input class="xwide text input" type="password" placeholder="New Password" id="new_password1" name="new_password1" tabindex="2" autocomplete="off"/>
	</div>
	<div class="four columns">
			{% if form.new_password1.errors %}
				<span class="error2 small" style="line-height:110%;white-space: normal;">{{ form.new_password1.errors }}</span>
			{% endif %}
	</div>
</div>
<div class="row">
	<div class="prepend field push_four four columns">
		<!--label for="id_new_password2" class="required" style="margin-bottom:0px;">Re-type New Password</label-->
			<span class="adjoined"><i class="icon-check"></i></span>
			<input class="xwide text input" type="password" placeholder="Re-type New Password" id="new_password2" name="new_password2" tabindex="3" autocomplete="off"/>
	</div>
	<div class="four columns">
			{% if form.new_password2.errors %}
				<span class="error2 small" style="line-height:110%;white-space: normal;"> {{ form.new_password2.errors }} </span>
			{% endif %}
	</div>
</div>

<!-- div -->
<br>
<div class="large metro rounded primary btn">
    <input type="submit" value="Confirm" class="default" />
</div>
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form>
</div>
</div>

</div>
{% endblock my_content %}

{% block my_script %}
<script>
window.onload=function(){
	$('#accountusermenu').addClass('active');
};
</script>
{% endblock my_script %}
