/*2D582D
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

.amount 		{color:#097054;text-align: right !important;vertical-align: right !important; white-space: nowrap !important;}
.columntitle 	{text-align: center;}
.columntext 	{text-align: center;}
td.tablequickaction {width:10px;}
/*
.navbar ul li:hover > a { position: relative;background: none; z-index: 1000; }
.navbar ul li a i { position: relative; color: #A4A1A1 !important; z-index: 1000; }
.navbar ul li a:hover > i { position: relative; color: #FFFFFF !important; z-index: 1000; }
.navbar ul li a:hover > object { position: relative; color: #FFFFFF !important; z-index: 1000; }
*/
td .icon-plus {font-size:18 px;font-weight:bold;float:left;padding-left:6px;}
td i.icon-plus : after {}
td .icon-minus {font-size:18 px;font-weight:bold;float:left;padding-left:6px;}
td .icon-flash  {color:#FF8D38;height:20px !important;}
.height25 {font-size:14px;height:25px !important;}
.height20 {height:20px !important;}
.textright {text-align: right;}
.addIcon {width: 25px; height:25px;}
.hidden {display: none;}

/** error and success messages */

.successmsg .info1{
		background-size: 40px 40px;
		background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		 box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
		 width: 100%;
		 border: 1px solid;
		 color: #fff;
		 z-index:7;
		 text-shadow: 0 1px 0 rgba(0,0,0,.5);
		 animation: animate-bg 5s linear infinite;
		 text-align: center;
}

.info1{
		 background-color: #4ea5cd;
		 border-color: #3b8eb5;
}

.error1{
		color:#FFFFFF;
		background-color: #de4343;
		border-color: #c43d3d;
}

.error2{
		color:#de4343;
}

.warning1{
		 background-color: #eaaf51;
		 border-color: #d99a36;
}

.success1{
		 background-color: #61b832 !important;
		 border-color: #55a12c;
}



@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

/* setting date icons */
.date-month
{
height: 20px; line-height: 20px;
text-align: center; vertical-align: middle;
background: #CC3333; color: white;
border: 1px solid grey; border-top-left-radius: 8px; border-top-right-radius: 8px;
font-size: 11px;
}

.date-day
{
height: 40px; line-height: 40px;
text-align: center; vertical-align: middle;
background: white;
border-right: 1px solid grey; border-left: 1px solid grey;
font-size: 35px; font-weight: 500;
}

.date-year
{
height: 20px; line-height: 20px;
text-align: center; vertical-align: middle;
background: white;
border: 1px solid grey; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;
font-size: 14px;
}

.effect
{
text-shadow: 0px 0px 1px #000000;
}

.calendar-icon
{
transition: opacity 1s;
}

.calendar-icon:hover
{
opacity:0.5;
filter:alpha(opacity=40);
cursor: pointer;
}

.cspselect_icon
{
height: 84px; width: 77px;
background: url('../img/person_icon1.png') top center;
}

.trxnselect_icon
{
height: 84px; width: 77px;
background: url('../img/icon_transactions.jpg') top center;
}

#tocalendarlist li, #fromcalendarlist li, #cspselectionlist li, #trxnselectionlist li
{
display: inline-block;
list-style-type: none;
vertical-align: middle;
padding: 5px;
}


#fromdatelist, #todatelist
{
/*width: 20%;*/
list-style-type: none;
max-width: 80px;
min-width: 80px;
}

#links li
{
list-style-type: none;
}

.youarehere
{
font-family: sans-serif;
font-size:12px;
}

.tablehint
{
font-family: sans-serif;
font-size:15px;
font-weight: 700;
}

.textinfo
{
font-family: sans-serif;
font-size:15px;
font-weight: 650;
}

.textval
{
font-family: sans-serif;
font-size:15px;
font-weight: 500;
}

.network_icon
{
height: 157px; width: 210px;
background: url('../img/csp_network1.jpg') top center;
}

.retailernametitle
{
font-family: sans-serif;
font-size:20px;
font-weight: 600;
color: #CC0033;
}

.csp_photo
{
height: 130px; width: 130px;
background: url('../img/person_icon.png') top center;
}

.pickersmall { position: relative; width: auto; display: inline-block; margin: 0 0 2px 1.2%; overflow: hidden; border: 1px solid #e5e5e5; border-radius: 4px; font-family: "Sans-serif"; font-weight: 600; height: 26px; line-height: 24px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2)); background-image: -webkit-linear-gradient(#ffffff, #f2f2f2); background-image: -moz-linear-gradient(#ffffff, #f2f2f2); background-image: -o-linear-gradient(#ffffff, #f2f2f2); background-image: linear-gradient(#ffffff, #f2f2f2); }
.pickersmall:after { content: "\25BE"; z-index: 0; position: absolute; right: 8%; top: 0%; color: #555555; }
.pickersmall:first-child { margin-left: 0; }
.pickersmall select { position: relative; display: block; min-width: 100%; width: 100%; height: 24px; padding: 2px 20px 2px 2px; color: #555555; border: none; background: transparent; outline: none; -webkit-appearance: none; z-index: 99; font-size: 6px; font-size: 0.8rem; }


.modal { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: -999999; background: black; background: rgba(0, 0, 0, 0.8); }
.modal > .content { width: 50%; min-height: 50%; max-height: 65%; position: relative; top: 25%; margin: 0 auto; padding: 20px; background: white; z-index: 2; overflow: auto; }
@media only screen and (max-width: 768px) { .modal > .content { width: 80%; min-height: 80%; max-height: 80%; top: 10%; } }
@media only screen and (max-width: 767px) { .modal > .content { width: 92.5%; min-height: 92.5%; max-height: 92.5%; top: 3.75%; } }
.modal > .content > .close { position: absolute; top: 10px; right: 10px; cursor: pointer; }
.modal, .modal > .content { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; }
.modal.active { z-index: 999999; }
.modal.active, .modal.active > .content { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.modal > .content60 { width: 60%; min-height: 60%; max-height: 90%; position: relative; top: 25%; margin: 0 auto; padding: 20px; background: white; z-index: 2; overflow: auto; }


.earning_icon
{
height: 221px; width: 208px;
background: url('../img/earning_icon1.jpg') top center;
}

/*added by pradeep*/
.headertextbar {width: 300px !important; max-width: 400px !important;font-size: 0; white-space: nowrap; display: inline-block;}
.headertextbar input:first-child { margin-right: 0; }
.headertextbar *:last-child { -webkit-border-radius: 0px 4px 4px 0; -moz-border-radius: 0px 4px 4px 0; -ms-border-radius: 0px 4px 4px 0; -o-border-radius: 0px 4px 4px 0; border-radius: 0px 4px 4px 0; }
.headertextbar .btn { margin-left: -1px; }
.headertextbar input { -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -ms-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; }
.headertextbar .btn { position: relative; display: inline-block; margin-bottom: 0; z-index: 99; }

li.trxnbar-field input  {
 width: 210px;
 color:#BFBFBF;
 background:#E5E5E5 !important;
 -moz-transition: width 0.5s ease-out;
 -webkit-transition: width 0.5s ease-out;
 transition: width 0.5s ease-out;
  z-index:1001;
}

li.trxnbar-field input:focus {
 width: 295px;
 color:#3085d6;
 -moz-transition: width 0.5s ease-out;
 -webkit-transition: width 0.5s ease-out;
 transition: width 0.5s ease-out;
 background:#FFFFFF !important;
 z-index:1001;
}

.newtablerow {display:none; position: relative; width: 100%; max-height: 0; background: #222; -webkit-box-shadow: inset 0 -1px 2px black, inset 0 1px 2px black; box-shadow: inset 0 -1px 2px black, inset 0 1px 2px black; overflow: hidden; -webkit-transition-duration: .3s; /* Saf3.2+, Chrome */ -moz-transition-duration: .3s; /* FF4+ */ -ms-transition-duration: .3s; /* IE10 */ -o-transition-duration: .3s; /* Opera 10.5+ */ transition-duration: .3s; }

.newtablerow.active { display: table-row;height: auto; max-height: 800px; -webkit-transition-duration: .5s; /* Saf3.2+, Chrome */ -moz-transition-duration: .5s; /* FF4+ */ -ms-transition-duration: .5s; /* IE10 */ -o-transition-duration: .5s; /* Opera 10.5+ */ transition-duration: .5s; }

.drawertable {display:none; position: relative; width: 100%; max-height: 0; overflow: hidden; -webkit-transition-duration: .3s; /* Saf3.2+, Chrome */ -moz-transition-duration: .3s; /* FF4+ */ -ms-transition-duration: .3s; /* IE10 */ -o-transition-duration: .3s; /* Opera 10.5+ */ transition-duration: .3s; }

.drawertable.active {display:table; height: auto; max-height: 800px; -webkit-transition-duration: .5s; /* Saf3.2+, Chrome */ -moz-transition-duration: .5s; /* FF4+ */ -ms-transition-duration: .5s; /* IE10 */ -o-transition-duration: .5s; /* Opera 10.5+ */ transition-duration: .5s; }

.drawerinline {display:none; position: relative; width: 100%; max-height: 0; overflow: hidden; -webkit-transition-duration: .3s; /* Saf3.2+, Chrome */ -moz-transition-duration: .3s; /* FF4+ */ -ms-transition-duration: .3s; /* IE10 */ -o-transition-duration: .3s; /* Opera 10.5+ */ transition-duration: .3s; }

.drawerinline.active {display:inline; height: auto; max-height: 800px; -webkit-transition-duration: .5s; /* Saf3.2+, Chrome */ -moz-transition-duration: .5s; /* FF4+ */ -ms-transition-duration: .5s; /* IE10 */ -o-transition-duration: .5s; /* Opera 10.5+ */ transition-duration: .5s; }

.drawertablerow {display:none; position: relative; width: 100%; max-height: 0; overflow: hidden; -webkit-transition-duration: .3s; /* Saf3.2+, Chrome */ -moz-transition-duration: .3s; /* FF4+ */ -ms-transition-duration: .3s; /* IE10 */ -o-transition-duration: .3s; /* Opera 10.5+ */ transition-duration: .3s; }

.drawertablerow.active {display:table-row; height: auto; max-height: 800px; -webkit-transition-duration: .5s; /* Saf3.2+, Chrome */ -moz-transition-duration: .5s; /* FF4+ */ -ms-transition-duration: .5s; /* IE10 */ -o-transition-duration: .5s; /* Opera 10.5+ */ transition-duration: .5s; }


.successmsg {position: relative; width: 100%; max-height: 0; background: #E5E5E5;  overflow: auto; -webkit-transition-duration: .3s; /* Saf3.2+, Chrome */ -moz-transition-duration: .3s; /* FF4+ */ -ms-transition-duration: .3s; /* IE10 */ -o-transition-duration: .3s; /* Opera 10.5+ */ transition-duration: .3s; }

.successmsg.active {height: auto; max-height: 800px; -webkit-transition-duration: .5s; /* Saf3.2+, Chrome */ -moz-transition-duration: .5s; /* FF4+ */ -ms-transition-duration: .5s; /* IE10 */ -o-transition-duration: .5s; /* Opera 10.5+ */ transition-duration: .5s; }

::selection {background-color: #1A1A1A;color:#1E90FF;} /*CED878  #FFF68F #3893e4*/

.minwidthmargin {min-width: 20px; margin: 0 5px;}  /*use this with any icon class to add uniform margin */

.container.shaded {
background-color: #E9E9E9 !important;
display: block !important;
}

.container.shaded.white {
background-color: #FFFFFF !important;
display: block !important;
}

.pagetitlerow{
background-color: #E9E9E9 !important;
display: block !important;
padding-top:15px;
padding-bottom:15px;
margin-bottom:10px;
height:60px;
}

#inner-nav {
padding: 10px 0;
}

#inner-doc #inner-nav {
margin-bottom: 40px;
}

#inner-nav > ul {
padding-top: 20px;
display: block;
width: 470px;
}
/*
#inner-nav > ul >li {
display: inline-block;
}
*/
.pagetitlerow > h5 >a {font-weight:700;}

.nomarginbottom {margin-bottom:0;}

.nomargintop {margin-top:0;}

.nomarginright {margin-right:0;}

.nomarginleft {margin-left:0;}

.nopaddingbottom {padding-bottom:0;}

.nopaddingtop {padding-top:0;}

.nopaddingright {padding-right:0;}

.nopaddingleft {padding-left:0;}

.10marginbottom {margin-bottom:10px;}

.10margintop {margin-top:10px;}

.20marginbottom {margin-bottom:20px;}

.20margintop {margin-top:20px !important; }

.textright {text-align: right;}

.textleft {text-align: left;}

.textcenter {text-align: center;}

.small {font-size:small;}

.faded {color:#8D8B8B}

.bold {font-weight:1200;}

.alert.error { background: #df8989; border: 1px solid #ca3838; color: #7b2121; }

/*
.navbar {background:#2C3E50 !important;}

.navbar ul :hover > a { background:none !important;color:#3498db;}

.navbar ul li:hover  { background:none !important;color:#2980b9;}

.navbar ul li > a {width:160px !important; text-shadow:none;}
*/
/*
 .navbar ul li.active { height: auto; max-height: 600px; z-index: 999999;/*  -webkit-transition-duration: 1.5s; -moz-transition-duration: 1.5s; -o-transition-duration: 1.5s; transition-duration: 1.5s; -webkit-box-shadow: 0 10px 10px -10px #2980b9; -moz-box-shadow: 0 10px 10px -10px #2980b9; box-shadow: 0 10px 10px -10px #2980b9;border-bottom-style:dotted;border-bottom-color:#2980b9; border-bottom:5px solid #2C3E50;  background:#2980b9;}
*/
/*
.navbar .logo a img {
  max-height:100%;
  padding-top:13px;
  padding-bottom:0;
  margin-bottom:0;
  margin:0;
}

.navbar .logo a {height: 55px;line-height:30px !important ;}

.navbar ul li > a { padding: 0;height:50px;line-height:50px;}

.navbar ul li { padding: 0;height:55px;line-height:45px;}

.navbar {height:55px; min-height: 55px; line-height:55px !important ;}

@font-face
{
font-family: candara;
src: url('CANDARA.TTF'),
     /* url('Sansation_Light.eot');  IE9 */
}

/*
.small {font-size:12px;}
.medium {font-size:18px;}
.large {font-size:24px;}
.xlarge {font-size:28px;}

.heading {
	background: #2980b9 !important;
	margin-bottom:14px;
	padding-left:15px;
	text-align: left;
	font-family: "Open Sans"; font-weight: 550; color: #FFFFFF; text-rendering: optimizeLegibility; padding-top: 0.273em; line-height: 1.15538em; padding-bottom: 0.273em;
	font-size: 18px; font-size: 1.125rem;
	-webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px;
}

body {
	font-face: candara !important;
	background:#FFFFFF;
}
*/

@font-face { font-family: my_custom_font; font-style: normal; font-weight: 400;/* src: url(../fonts/icons/entypo.eot); src: url("../fonts/icons/entypo.eot?#iefix") format("ie9-skip-eot"),*/ url("../fonts/icons/my_custom_font.woff") format("woff"), url("../fonts/icons/my_custom_font.ttf") format("truetype"); }

.medium label{ min-width: 150px; }

.hidden {
	display:none;
}

.alert .active{
	display:block;
}

input:-webkit-autofill {
    background: #FFC0CB !important;
}

div#accountmenu {float:right !important;}
/*
 COMMENTING OUT 2 MAY 2015 By Kr.Abhishek for PPI
 div#accountmenu ul {right:0;float:right !important; }
*/
div#accountmenu ul li:last-child a {right:0;padding-right:15px;}
div#accountmenu ul li a {color:#FFFFFF;}
div#accountmenu ul li a:hover {
	background:#7f8c8d;
	/*color:#A79797;*/
}

.trxnbox {
	border: 2px solid #D0D0D0;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
	position: relative;
	overflow: hidden;
	background: #F5F5F5;
	z-index:1;
	opacity:0.9;
}

.trxnbox.medium {
	height: 210px;
}

.trxnbox.large {
	height: 370px;
}

.trxnbox1 {
	border: 1px solid #D0D0D0;
	height: 250px;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;
	position: relative;
	overflow: hidden;
	background: #F4F4F4;
	z-index:1;
}

.trxnbox .boxheader {
	padding-left : 0px;
	border-bottom: 1px solid #E5E5E5;
	text-align: center;
}

.trxnbox1 .boxheader1 {
	padding-left : 0px;
	border-bottom: 3px solid #E5E5E5;
	text-align: center;
}

.trxnbox .boxbody {
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 3%;
	padding-left: 3%;
}

.trxnbox1 .boxbody1 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.bottom {
	position: absolute;
	bottom: 8px;
	width:100%;
}

table.buttonTable {
	border-collapse: collapse;
	border: 0;
	background: None;
}

table.buttonTable tr td {
	border-collapse: collapse;
	border-top: 0px;
}

.scrollbox {
	height: 265px;
	max-height: 265px;
	overflow: auto;
	border: 1px solid #D0D0D0;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;
}

.mssgbox {
	padding-top :5px;
	padding-left :5px;
	padding-right :5px;
	background: #F6F6DD;
	text-align: center;
	vertical-align: middle;
	height: auto;
	margin-bottom: 25px;
	border: 1px solid #D0D0D0;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;
}

.inputbox {
	padding-bottom: 10px;
}

.globalButton {
	min-width: 140px;
}

.trxnbox.active {

    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    /* For IE 8*/
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    z-index:30;
    /*-moz-box-shadow:0px 0px 10px #000000;
    -webkit-box-shadow:0px 0px 10px #000000;
    box-shadow:0px 0px 10px #000000;*/
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid #a5aeaf;
	background: #FFFFFF;
	opacity:1;
}

.mssgbox.active{
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    /* For IE 8*/
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    z-index:30;
    -moz-box-shadow:0px 0px 10px #000000;
    -webkit-box-shadow:0px 0px 10px #000000;
    box-shadow:0px 0px 10px #000000;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #DECD9E;
}

p.medium {
	line-height: 1.5em;
}

body {
  scrollbar-face-color: #666666;
  scrollbar-track-color: rgba(255, 255, 255, 0.1);
}

.spin {
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
	100%  {-webkit-transform: rotate(0deg);}
	0% {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin {
	100%  {-webkit-transform: rotate(0deg);}
	0% {-webkit-transform: rotate(360deg);}
}

@-o-keyframes spin {
	100%  {-webkit-transform: rotate(0deg);}
	0% {-webkit-transform: rotate(360deg);}
}

.scrollbox_log {
	height: 400px;
	max-height: 400px;
	overflow: auto;
	border: 1px solid #D0D0D0;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;
}

.modal_rounded_main {
	border-radius: 4px;
	max-width: 400px;
	/*height: 500px;*/
}

#image1 {
	content: url('../img/image_user.png');
}

#image1:hover {
	content: url('../img/image_user_color.png');
}

#image2 {
	content: url('../img/image_chat.png');
}

#image2:hover {
	content: url('../img/image_chat_color.png');
}

#image3 {
	content: url('../img/image_pin.png');
}

#image3:hover {
	content: url('../img/image_pin_color.png');
}

#image4 {
	content: url('../img/image_doc.png');
}

#image4:hover {
	content: url('../img/image_doc_color.png');
}

/* line 4, ../scss/_mixins.scss */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* line 9, ../scss/_mixins.scss */
::-webkit-scrollbar-thumb {
  background: #1E90FF;
}

/* line 13, ../scss/_mixins.scss */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

input.color_placeholder::-webkit-input-placeholder {
   color: #c0392b;
}



/* Added by Kr. Abhishek on 24-Jan-2015 */
/* Recipient list */
div#box2_body_content table tr td:nth-child(2) {padding-left:0px}
div#box2_body_content table tr td:nth-child(3) {padding-left:0px;padding-right:0px}

div#accountmenu img#ico_menu {margin:15px 10px 0 10px}
div#accountmenu #accountusermenu li a {font-size:15px}

div.aggrement_toolbar {padding:2em 0; margin-top:2em; border-top:1px solid #CCC}
div.aggrement_toolbar .btn {min-width:10em}
div.aggrement_toolbar .btn a {font-size:1.2em}
div.aggrement_toolbar .btn.btn_disabled a {color:#AAA; cursor:default}
div.aggrement_toolbar .btn.primary.btn_disabled   {border-color:#BBB;} /* #56E794; */
div.aggrement_toolbar .btn.primary.btn_disabled a {font-weight:normal; background:#CCC;}

#modal1 p {font-size:0.8em}

.modal > .content {
    width: 80%;
    height: 80%;
    min-height: 80%;
    max-height: 80%;
    top: 10%;
}

.field {width:100%}

.boxes_hidden div.boxbody {display:none}

#modal1 ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

table.faq_pricing, table.faq_pricing th, table.faq_pricing td {border:1px solid #BDC3C7; text-align:center; vertical-align:middle}

.custinfolist {width:100%; text-transform:uppercase}
.custinfolist > li {text-align:left}
/*.custinfolist .fieldheader {text-transform:none; font-size:0.8em; color:#AAA; margin-right:0.5em} */
.custinfolist .cust_ico {padding:0 6px}

